<div class="conteudo">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="perfil">
        <div class="card card-perfil">
          <div class="card-img-top-wrapper">
            <img src="/assets/images/perfil.png" class="card-img-top" alt="Foto do Usuário">
          </div>
          <div class="card-body">
            <h2 class="card-title">{{profileForm.get('nomeUsuario')?.value || 'Nome do Usuário'}}</h2>
            <p class="card-text">
              <span>{{profileForm.get('email')?.value || 'email@exemplo.com'}}</span>
            </p>
          </div>
        </div>
        <ul class="perfil-opcoes">
          <li><a [routerLink]="['/certificados']">Consultar Certificados</a></li>
          <li><a [routerLink]="['/contato']">Contao e Suporte</a></li>
          <li><a [routerLink]="['/encerrar-conta']">Encerrar Conta</a></li>
        </ul>

      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="user-info">
        <h1>Atualizar Informações</h1>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputNome"
              formControlName="nomeUsuario" placeholder="Digite seu nome">
            <div *ngIf="profileForm.get('nomeUsuario')?.invalid && profileForm.get('nomeUsuario')?.touched" class="text-danger">
              Nome é obrigatório
            </div>
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail"
              formControlName="email" placeholder="Digite seu email">
            <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
              Email inválido
            </div>
          </div>
          <div class="mb-5">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" id="inputTelefone"
              formControlName="telefone" placeholder="(00) 00000-0000">
          </div>

          <div formGroupName="endereco">
            <div class="mb-3">
              <label class="form-label mb-3" >Endereço</label>
              <div class="row">
                <div class="col-md-6 mb-2">
                  <label for="inputRua" class="form-label">Rua</label>
                  <input type="text" class="form-control" id="inputRua" formControlName="rua" placeholder="Rua">
                </div>
                <div class="col-md-6 mb-2">
                  <label for="inputNumero" class="form-label">Número</label>
                  <input type="text" class="form-control" id="inputNumero" formControlName="numero" placeholder="Número">
                </div>
                <div class="col-md-6 mb-2">
                  <label for="inputBairro" class="form-label">Bairro</label>
                  <input type="text" class="form-control" id="inputBairro" formControlName="bairro" placeholder="Bairro">
                </div>
                <div class="col-md-6 mb-2">
                  <label for="inputCidade" class="form-label">Cidade</label>
                  <input type="text" class="form-control" id="inputCidade" formControlName="cidade" placeholder="Cidade">
                </div>
                <div class="col-md-6 mb-2">
                  <label for="inputEstado" class="form-label">Estado</label>
                  <input type="text" class="form-control" id="inputEstado" formControlName="estado" placeholder="Estado">
                </div>
                <div class="col-md-6 mb-2">
                  <label for="inputPais" class="form-label">País</label>
                  <input type="text" class="form-control" id="inputPais" formControlName="pais" placeholder="País">
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-secondary btn-md" [disabled]="!profileForm.valid">
            Atualizar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="historico-cursos mt-5" *ngIf="inscricoes.length > 0">
    <h2>Meus Cursos</h2>
    <div class="container">
      <div class="card" *ngFor="let inscricao of inscricoes">
        <div class="card-img-top-wrapper">
          <img [src]="inscricao.imagemCurso || 'assets/images/default-course.jpg'"
               class="card-img-top"
               alt="Imagem do Curso">
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ inscricao.nomeCurso }}</h3>
          <p class="card-text">
            Status:  {{
              inscricao.statusInscricao === 0
                ? 'Não iniciado'
                : inscricao.statusInscricao === 1
                  ? 'Em andamento'
                  : inscricao.statusInscricao === 2
                    ? 'Concluído'
                    : 'Status desconhecido'
            }}
          </p>
          <div class="botoes-card">
            <button class="btn btn-danger" (click)="cancelarInscricao(inscricao._idCurso)">
              Desinscrever
            </button>
            <button class="btn btn-primary" [routerLink]="['/curso', inscricao._idCurso, 'aulas']">
              Assistir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
